
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-md-8 col-md-offset-2">
    <h3>Jak to działa?</h3>
    <h4>Krok 1 - PODZIEL SIĘ</h4>
    <ul>
        <li>
            Przechodzimy na podstronę „Podziel się”

        </li>
        <li>Wybieramy jeden z pięciu formularzy:</li>
    </ul>
    <img src="/images/dziala1.jpg" alt="albumy" />
    <div class="col-md-6">
        <h4>Krok 2 - Uzupełniamy np. formularz UTWORY</h4>
        W formularzu uzupełniamy:
        <ul>
            <li>
                Nazwa utworu
            </li><li>
    Wykonawca
</li><li>
    Gatunek muzyczny
</li><li>
    Kompozytor muzyki
</li><li>
    Autor tekstu
</li><li>
    Nazwa płyty, z której pochodzi utwór
</li><li>
    Rok powstania
</li><li>
    Opis
</li><li>
    Adres URL z YouTube
</li><li>
    Tekst utworu
</li>
        </ul>
        <h4>Krok 3 - Akceptacja wpisu przez Administratora</h4>
    </div>
    <div class="col-md-6">
        grafika
        </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
       <h4>Krok 4 - Wpis UTWORY</h4>
        Po akceptacji Administratora na stronie pojawia się pojedynczy wpis, który zawiera:
        <ul>
            <li>
                Nazwa utworu
            </li><li>
    Wykonawca
</li>
<li>
    Video z YouTube
</li><li>
    Tekst utworu
</li><li>
    Opis
</li><li>
    Podstawowe informacje
</li><li>
    Ocena
</li><li>
    Komentarze
</li>
        </ul>
    </div>
    <div class="col-md-6">
       grafika
    </div>
    <div class="clearfix"></div>
    </div>
