
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="row">
    <div class="col-md-8 col-md-offset-2" >
        <h3>O portalu </h3>
        <p>Łączy Nas Muzyka to miejsce, które możesz współtworzyć. Jako użytkownik masz możliwość podzielić się autorskim projektem muzycznym, udostępnić piosenki innego zespołu lub przekazać informacje o ciekawym wydarzeniu.</p>
        <div class="col-md-4" style="text-align:center !important;">
            <img src="/images/utwory.png" alt="utwory" />
            <h3>UTWÓR MUZYCZNY</h3>
            <p>Możesz podzielić się swoim ulubionym utworem muzyki chrześcijańskiej, patriotycznej i poezji śpiewanej.</p>
        </div>
        <div class="col-md-4" style="text-align:center !important;">
            <img src="/images/wykonawcy.png" alt="wykonawcy" />
            <h3>WYKONAWCA</h3>
            <p>Możesz stworzyć wizytówkę Wykonawcy, by przybliżyć jego twórczość innym Użytkownikom.</p>
        </div>
        <div class="col-md-4" style="text-align:center !important;">
            <img src="/images/wydarzenia.png" alt="wydarzenia" />
            <h3>WYDARZENIA</h3>
            <p>Organizujesz warsztaty muzyczne, koncert czy recital - zaproś innych!</p>
        </div>
        <div style="clear:both;"></div>
        <div class="col-md-4 " style="text-align:center !important;">
            <img src="/images/teksty.png" alt="teksty" />
            <h3>TEKSTY</h3>
            <p>Usłyszałeś fantastyczną piosenkę, ale nie znasz tekstu - poszukaj jej u nas</p>
        </div>
        <div class="col-md-4" style="text-align:center !important;">
            <img src="/images/albumy.png" alt="albumy" />
            <h3>ALBUMY</h3>
            <p>Nagrałeś płytę, znalazłeś ciekawy album - podziel się nimi!</p>
        </div>
        <div class="col-md-4" style="text-align:center !important;">
            <img src="/images/wesprzyj.jpg" alt="albumy" />
            <h3>WESPRZYJ</h3>
            <p>Każdy z Was może pomóc w tworzeniu tego portalu oraz w promocji muzyki chrześcijańskiej w Polsce.</p>
        </div>
        <div style="clear:both;"></div>
        <h4>Nasz Cel</h4>
        <p>Utworzenie portalu z muzyką chrześcijańską, gdzie każdy użytkownik będzie mógł wrzucić autorski utwór muzyczny lub udostępnić swoją ulubioną piosenkę innego zespołu. Użytkownicy portalu będą mieli możliwość oceniać inne utwory, dodawać opisy zespołów, wykonawców, wydarzeń muzycznych, koncertów, płyt, tekstów piosenek itd.</p>
        <h4>Nasza Misja</h4>
        <ul>
            <li>
                Promocja muzyki chrześcijańskie w Polsce oraz muzyki patriotycznej.
            </li><li>
    Promowanie młodych zespołów i twórców tego rodzaju muzyki.
</li><li>
    Zbieranie pieniędzy na produkcje muzyki oraz organizacje koncertów.
</li>
            </ul>
    </div>

</div>