
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h4>Regulamin</h4>

<p>Regulamin korzystania z  Portalu Internetowego www.SocialPortal.pl</p>

<ol><li>
    Publikując tekst/viedo/zdjęcie autor jednocześnie oświadcza, że publikowane przez niego materiały są zgodne z prawdą.
</li><li>
    Dokonanie wpisu przez użytkownika w jakimkolwiek z wymienionych w pkt. 2 Regulaminu działów www.SocialPortal.pl jest równoznaczne z akceptacją niniejszego regulaminu i zobowiązaniem się użytkownika do jego przestrzegania, a także stanowi wyrażenie zgody na umieszczenie wpisu w całości lub jego fragmentów w innych publikacjach www.SocialPortal.pl lub jego partnerów.
    </li><li>
    Użytkownik dokonując wpisu świadomie publikuje swoje prywatne informacje, komentarze, opinie, zdjęcia i filmiki -wyłącznie na własną odpowiedzialność. Administrujący www.SocialPortal.pl nie ponosi żadnej odpowiedzialności za treści zamieszczane przez użytkowników w działach wymienionych w pkt. 2 Regulaminu.
    Autor publikując artykuł jednocześnie potwierdza, że on jest autorem tekstu, lub podaje faktycznego autora tekstu/ zdjęcia/video.
    </li><li>
    Portal Internetowy www.SocialPortal.pl zwany dalej w skrócie www.SocialPortal.pl udostępnia użytkownikom możliwość korzystania z następujących działów:
    <br />   - Utwory<br />
    - Wykonawcy<br />
    - Wydarzenia         <br />                                                                                                                                                                                      - Albumy
    - Teksty<br />
</li>
    <li>
        Regulamin niniejszy określa zasady umożliwienia wszystkim użytkownikom publicznej sieci Internet bezpłatnego korzystania z wydzielonych działów portalu w celu wymiany informacji, komentarzy, opinii, zdjęć i materiałów wideo.
    </li><li>
    Wpis dokonany przez użytkownika zostaje opublikowany na portalu po jego pozytywnej weryfikacji przez Administrującego www.SocialPortal.pl.
    Teksty niezwiązane z profilem strony, będą usuwane przez Administratorów.
</li>
<li>
    Niedopuszczalne jest umieszczanie wpisów sprzecznych z prawem polskim i międzynarodowym, związanych z pornografią, używkami, wzywających do nienawiści rasowej, wyznaniowej, etnicznej etc. oraz treści odwołujących się do totalitarnych metod i praktyk działania nazizmu, faszyzmu i komunizmu, wulgarnych, propagujących przemoc, obrażających uczucia religijne, naruszających dobra osobiste oraz wolność obywatelską osób, których dotyczą, itp.
</li><li>
    Niedopuszczalne jest umieszczanie wpisów o treści uznanej powszechnie za naganne moralnie, społecznie niewłaściwe i naruszających zasady netykiety- zbioru zasad savoir-vivre, obowiązujących w dyskusjach w Internecie, a więc i na www.SocialPortal.pl
</li><li>
    Niedopuszczalne jest umieszczanie wpisów o treści zawierającej przekazy reklamowe.
</li><li>
    Administrujący www.SocialPortal.pl zastrzega sobie prawo do modyfikowania i usuwania dowolnych treści w całości lub fragmentach, a w szczególności tych, o których mowa w pkt. 6, 7, 8 niniejszego regulaminu, oraz zastrzega sobie prawo do korekty językowej, stylistycznej, gramatycznej, prawo do skracania tekstu oraz zmiany tytułu.
</li><li>
    Administrujący www.SocialPortal.pl dołoży wszelkich starań w celu jego prawidłowego działania oraz udzieli pomocy w rozwiązywaniu problemów dotyczących jego funkcjonowania. Wszelkie problemy techniczne należy zgłaszać na adres kontakt.SocialPortal@gmail.com
</li><li>
    Administrujący www.SocialPortal.pl zastrzega sobie prawo do wyłączenia usługi określonej w pkt. 1 Regulaminu bez konieczności podawania przyczyn takiego działania.
</li><li>
    Regulamin obowiązuje od momentu jego opublikowania. Administrujący www.SocialPortal.pl zastrzega sobie prawo do zmiany regulaminu. Wszelkie zmiany stają się obowiązujące w momencie ich opublikowania na tej stronie.
</li>
</ol>