
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-md-8 col-md-offset-2">
    <h3>NASZ ZESPÓŁ</h3>
    <div class="col-md-3"><img src="/images/Wlodek.jpg" alt="albumy" /></div>
    <div class="col-md-9">
    <h3>WŁODEK</h3>
        <p>Pomysłodawca portalu. Miłośnik muzyki chrześcijańskiej. Na co dzień jako inżynier, buduje linie kolejowe. Uwielbia tańczyć i chodzić na wesela :)</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3"><img src="/images/Anna.jpg" alt="albumy" /></div>
    <div class="col-md-9">
        <h3>ANNA</h3>
        <p>Z uśmiechem podchodzi do życia, podejmując nowe wyzwania. Kieruje się słowami Jana Pawła II, starając się wdrażać w życie kolejne wymagania, choćby inny tego od niej nie oczekiwali.</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3"><img src="/images/Paulina.jpg" alt="albumy" /></div>
    <div class="col-md-9">
        <h3>PAULINA</h3>
        <p>Studentka, miłośniczka fotografii, grafiki, mediów i komunikacji interpersonalnej. Mówią o niej Boża Owieczka. Pomoc innym sprawia, że na jej twarzy zawsze gości uśmiech :)</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3"><img src="/images/Damian.jpg" alt="albumy" /></div>
    <div class="col-md-9">
        <h3>DAMIAN</h3>
        <p>Absolwent elektrotechniki na AGH. Poza pracą chętnie angażuje się w projekty i inicjatywy społeczne, które dają mu wiele radości i poczucie dobrze wykorzystanego czasu. Jest osobą otwartą i pracowitą.</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3"><img src="/images/Wojciech.jpg" alt="albumy" /></div>
    <div class="col-md-9">
        <h3>WOJCIECH</h3>
        <p>Gitarzysta, solista, artysta. W naszym projekcie reprezentuje środowisko twórców i wykonawców. W wolnych chwilach pracuje jako geodeta :)</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3"><img src="/images/Piotr.jpg" alt="albumy" /></div>
    <div class="col-md-9">
        <h3>PIOTR</h3>
        <p>Student, miłośnik dobrej książki, muzyki i fotografii. Zawsze szczęśliwy i zmotywowany do działania. Żyje tak jakby miało nie być jutra :)</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3"><img src="/images/Jakub.jpg" alt="albumy" /></div>
    <div class="col-md-9">
        <h3>JAKUB</h3>
        <p>Prawnik, społecznik, lokalny patriota z Aleksandrowic. Interesuje się literaturą piękną, piłkarską ligą włoską, kinem kryminalnym i kolarstwem. Uważa, że sensem życia jest działanie dla dobra drugiego człowieka i na chwałę Pana Boga.</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3"><img src="/images/Ty.jpg" alt="albumy" /></div>
    <div class="col-md-9">
        <h3>WLASNIE TY!</h3>
        <p>Jeżeli masz ochotę wesprzeć nas swoją wiedzą, czy doświadczeniem, masz głowę pełną pomysłów i trochę wolnego czasu zapraszamy do naszego zespołu!

</p>
    </div>
    <div class="clearfix"></div>
</div>
