
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="col-md-8 col-md-offset-2">
    <h3>Jak to działa?</h3>
    <p>Każdy z Was może Nas wesprzeć, przekazując dowolną kwotę pienidzy! <br /><br />



Fundacja Czyń Dobro<br />
ul. Sienna 5<br />
31-041 Kraków<br /><br />



KRS: 0000442385                REGON: 122757651<br />

NIP: 676-246-11-51<br /><br />



Nr konta: 20 1020 2892 0000 5602 0503 4295<br />
PKO Bank Polski SA<br /><br />



W tytule przelewu wpisz: Łączy Nas Muzyka</p>
   
   
    <div class="clearfix"></div>
</div>
